[user]
  email = hi@niklasfrick.com
  name = niklasfrick
[core]
  excludesFile = ~/.gitignore_global

[includeIf "gitdir:~/Coding/sparq/"]
  path = .gitconfig_sparq

[includeIf "gitdir:~/Coding/gitlab/"]
  path = .gitconfig_gitlab

[includeIf "gitdir:~/ONZACK"]
  path = .gitconfig_onzack
